<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inspur.cmis.mapper.MgrWorkResultMapper">
<resultMap id="BaseResultMap" type="com.inspur.cmis.pojo.MgrWorkResult" >
    <result column="CM_KEY" property="cmKey"/>
    <result column="CM_ID" property="mgrId"/>
    <result column="CM_YEAR" property="cmWorkYear"/>
    <result column="CM_RESULT" property="cmWorkResult"/>
    <result column="CM_ATTACHMENT" property="cmAttach"/>
    <result column="CM_MODIFICATION_DATE" property="modifyDate"/>
    <result column="CM_MODIFICATION_PERSON" property="modifier"/>
</resultMap>

	<!--默认查询及条件查询-->
	<sql id="selectSql">
     	CM_KEY cmKey,CM_ID mgrId,CM_YEAR cmWorkYear,CM_RESULT cmWorkResult,CM_ATTACHMENT cmAttach,
     	CM_MODIFICATION_DATE modifyDate,CM_MODIFICATION_PERSON modifier,
     	(select CM_NAME from gzcrm_cminfo where CM_ID=a.CM_ID) mgrName,
     	(select CNAME from yc_member where MEM_ID=a.CM_MODIFICATION_PERSON) modifierName
  	</sql>
	<select id="getWorkResultList" resultType="mgrWorkResultExt" parameterType="Map">
    	select <include refid="selectSql"/> from gzcrm_cmresults a where 1=1 
      	<if test="mgrId != '' and mgrId != null">
          	and CM_ID =#{mgrId}
      	</if>
		<if test="cmWorkYear != null and cmWorkYear != ''">
		  and CM_YEAR=#{cmWorkYear}
		</if>
  	</select>

	<!--添加年度工作业绩-->
	<insert id="workResultAdd" parameterType="mgrWorkResult">
    	insert into gzcrm_cmresults(CM_ID,CM_YEAR,CM_RESULT,CM_ATTACHMENT,CM_MODIFICATION_DATE,CM_MODIFICATION_PERSON) 
	    values(#{mgrId},#{cmWorkYear},#{cmWorkResult},#{cmAttach},#{modifyDate},#{modifier})
	</insert>
	
	<!--根据主键查询年度工作业绩-->
	<select id="getResultByKey" resultMap="BaseResultMap" parameterType="int">
		select * from gzcrm_cmresults where CM_KEY=#{cmKey}
	</select>

	<!--更新年度工作业绩-->
	<update id="updateWorkResult" parameterType="mgrWorkResult">
		update gzcrm_cmresults set CM_YEAR=#{cmWorkYear},CM_RESULT=#{cmWorkResult},CM_ATTACHMENT=#{cmAttach},
		CM_MODIFICATION_DATE=#{modifyDate},CM_MODIFICATION_PERSON=#{modifier} where CM_KEY=#{cmKey}
	</update>
	
	<!--删除年度工作业绩-->
	<delete id="deleteMgrResult" parameterType="int[]">
		delete from gzcrm_cmresults where CM_KEY in
		<foreach collection="array" item="keys" open="(" close=")" separator="," index="no">
			#{keys}
		</foreach>
	</delete>
</mapper>