<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.inspur.cmis.mapper.RegularMeetMapper" >
	<resultMap id="BaseResultMap" type="com.inspur.cmis.pojo.Meet" >
		<result column="CM_KEY" property="key" />
		<result column="CM_ID" property="cmid" />
		<result column="CM_REGULAR_DATE" property="date"  />
		<result column="CM_REGULAR_PERSONNEL" property="personnel" />
		<result column="CM_REGULAR_THEME" property="theme" />
		<result column="CM_ATTACHMENT" property="attachment" />
	</resultMap>
  
 	<!--默认查询、根据条件查询例会信息-->
	<select id="getMeetList" parameterType="Map" resultMap="BaseResultMap">
		select * from gzcrm_cmregular where 1=1
		<if test="cmid!=null and cmid!=''">
			and CM_ID=${cmid}
		</if>
		<if test="date!=null and date!=''">
			and CM_REGULAR_DATE like '%' #{date} '%'
		</if>
		<if test="theme!=null and theme!=''">
			and CM_REGULAR_THEME like '%' #{theme} '%'
		</if>
	</select>
	
	<!--根据cmid查找客户经理名-->
	<select id="getUserName" parameterType="int" resultType="String">
		select CNAME from yc_member where MEM_ID=#{cmid}
	</select>
  
  <!--添加例会信息-->
  <insert id="addMeeting" parameterType="meet" >
     insert into gzcrm_cmregular(CM_ID,CM_REGULAR_DATE,CM_REGULAR_PERSONNEL,CM_REGULAR_THEME,CM_ATTACHMENT) 
     						values(#{cmid},#{date}, #{personnel}, #{theme}, #{attachment})
  </insert>
  
  <!-- 根据key查询例会信息-->
	<select id="getMeetBykey" parameterType="int" resultMap="BaseResultMap">
		select * from gzcrm_cmregular where CM_KEY=#{key}
	</select>
	
	<!--修改例会信息-->
	<update id="updateMeet" parameterType="Meet">
		update gzcrm_cmregular set CM_REGULAR_DATE=#{date},CM_REGULAR_PERSONNEL=#{personnel},
				CM_REGULAR_THEME=#{theme},CM_ATTACHMENT=#{attachment} where CM_KEY=#{key}
	</update>
  
  <!--例会信息的批量删除 -->
	<delete id="deleteMeet" parameterType="int[]">
		delete from gzcrm_cmregular where CM_KEY in
		<foreach collection="array" item="keys" open="(" close=")" separator="," index="no">
			#{keys}
		</foreach>
	</delete>
</mapper>