<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inspur.cmis.mapper.UserMapper">
	<resultMap id="BaseResultMap" type="com.inspur.cmis.pojo.User">
		<result column="MEM_ID" property="userId" />
		<result column="CNAME" property="username" />
		<result column="MEM_PASS" property="password" />
		<result column="MEM_SEX" property="sex" />
		<result column="MEM_BORN" property="birthday" />
		<result column="MEM_MAIL" property="email" />
		<result column="MEM_QUESTION" property="question" />
		<result column="MEM_ANSWER" property="answer" />
		<result column="REGISTER_TIME" property="registerTime" />
		<result column="LAST_TIME" property="lastTime" />
		<result column="ISENABLE" property="isEnable" />
		<result column="ROLEID" property="roleId" />
	</resultMap>

	<!-- 登录实现的查询sql -->
	<select id="getUser" parameterType="user" resultMap="BaseResultMap">
		select * from yc_member where 1=1 and CNAME=#{username} and MEM_PASS=#{password} and ISENABLE='T'
	</select>

	<!--用户的默认查询 -->
	<select id="getUserList" parameterType="Map" resultMap="BaseResultMap">
		select * from yc_member where 1=1
		<if test="userId!=null and userId!=''">
			and MEM_ID=${userId}
		</if>
		<if test="username!=null and username!=''">
			and CNAME like '%' #{username} '%'
		</if>
	</select>
	
	<!-- 用户的批量删除 -->
	<delete id="deleteUser" parameterType="int[]">
		delete from yc_member where mem_id in
		<foreach collection="array" item="ids" open="(" close=")" separator="," index="no">
			#{ids}
		</foreach>
	</delete>
	
	<!--用户的启用操作 -->
	<update id="openUser">
		update yc_member set isenable='T' where mem_id in
		<foreach collection="array" item="ids" open="(" close=")" separator="," index="no">
			#{ids}
		</foreach>
	</update>
	
	<!--用户的禁用操作 -->
	<update id="closeUser">
		update yc_member set isenable='F' where mem_id in
		<foreach collection="array" item="ids" open="(" close=")" separator="," index="no">
			#{ids}
		</foreach>
	</update>
	
	<!--密码的重置操作 -->
	<update id="resetPass">
		update yc_member set mem_pass='123456' where mem_id in
		<foreach collection="array" item="ids" open="(" close=")" separator="," index="no">
			#{ids}
		</foreach>
	</update>
	
	<!--用户的添加操作 -->
	<insert id="addUserInfo" parameterType="User">
		insert into yc_member(MEM_ID,CNAME,MEM_PASS,MEM_SEX,MEM_BORN,MEM_MAIL,MEM_QUESTION,MEM_ANSWER,REGISTER_TIME,LAST_TIME,ISENABLE,ROLEID) 
		values(#{userId},#{username},#{password},#{sex},#{birthday},#{email},#{question},#{answer},#{registerTime},#{lastTime},#{isEnable},#{roleId})
	</insert>
	
	<!-- 校验用户名是否已存在 -->
	<select id="getUserByUserName" parameterType="String" resultMap="BaseResultMap">
		select * from yc_member where CNAME=#{username}
	</select>
	
	<!--根据用户编号查询用户信息-->
	<select id="getUserByUserId"  parameterType="int" resultMap="BaseResultMap">
		select * from yc_member where MEM_ID=#{userId}
	</select>
	
	<!--用户的修改操作 -->
	<update id="updateUserInfo" parameterType="user">
		update yc_member set CNAME=#{username},MEM_SEX=#{sex},MEM_BORN=#{birthday},MEM_MAIL=#{email},LAST_TIME=#{lastTime},ROLEID=#{roleId} where MEM_ID=#{userId}
	</update>
	
	<!--用户登录时修改最后登录时间-->
	<update id="updateLastTime"  parameterType="user">
		update yc_member set LAST_TIME=#{lastTime} where CNAME=#{username}
	</update>
	
	<!--按照性别进行统计查询 -->
	<select id="userStat" resultType="userExt">
		select MEM_SEX type,count(*) count from yc_member group by MEM_SEX
	</select>
</mapper>